<form class="add-form" (ngSubmit)="onSubmit()" >
    <div class="form-control">
      <label for="name">Name</label>
      <input
        type="text"
        name="name"
        [(ngModel)]="name"
        id="name"
        placeholder="Add Name"
      />
    </div>
    <div class="form-control">
      <label for="image">Image Url</label>
      <input
        type="text"
        name="image"
        [(ngModel)]="image"
        id="image"
        placeholder="Add Image Url"
      />
    </div>
    <div class="form-control">
        <label for="description">Description</label>
        <input
          type="text"
          name="description"
          [(ngModel)]="description"
          id="description"
          placeholder="Add Description"
        />
      </div>
      <div style="display: flex;justify-content: center;">
    <input type="submit" value="Save Compound" class="btn btn-block" />
  </div>
  </form>